@import "tailwindcss";

@font-face{
  font-family: "Space Grotesk";
  src: url('/fonts/SpaceGrotesk.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}
#root {
  width: 100%;
  min-height: 100%;
}
#root {
    width: 100%;
}
.custom-shadow {
    box-shadow: 0 0 7px 5px rgb(158, 4, 45);
    
}
.custom-shadow:hover {
    box-shadow: 0 0 7px 5px rgb(248, 95, 136);
}

.shadow-top {
    box-shadow: -20px 0 40px 100px black
}
button {
    cursor: pointer
}

.grow {
    animation: grow 500ms ease-in-out
    
}


.grow {
    animation: grow 500ms ease-in-out all 
};
.textdrop {
    animation: textdrop 500ms ease-in-out forwards;
    animation-range: entry 0;
    animation-timeline: view();
}
.textdrop-delay-300 { 
    animation: textdrop 500ms ease-in-out 100ms forwards;
};
.textdrop-delay-500 {
    animation: textdrop 500ms ease-in-out 200ms forwards;
}
.textdrop-delay-700 {
    animation: textdrop 500ms ease-in-out 300ms forwards;
}
@keyframes grow {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes textdrop {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}


.shrink {
    animation: shrink 500ms ease-in-out forwards;
    animation-range: entry 0;
    animation-timeline: view();
    }
    @keyframes shrink {
    from {
        opacity: 0;
        scale: 0.8
    }
    to {
        opacity: 1;
        scale: 1
    }
}

